.card{
    margin-top: 80px;
    box-shadow: 2px 2px 8px 6px #ddd;
}
.card-header{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    background-color: rgb(0, 175, 239);
}
.btn-outline-info{
    border-radius: 30px;
}
.form-control{
    border-radius: 30px;
}