/*
    Estilo
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
   estilo do menu
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(0, 175, 239);
    color: #fff;
    transition: all 0.3s;
}
#sidebar.active {
    margin-left: -250px;
}

#sidebar.active .sidebar-header{
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgb(0, 175, 239);
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(0, 175, 239);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.perfil, .phone, #biografia{
    margin-bottom: 10px;
}
#excluir{
    background: none;
    border: none;
    color: #fff;
    font-size: 1.1em;
}
#excluir:hover{
    color: #6d7fcc;
}
#formu{
    background-color: rgb(0, 175, 239);
}
#formu:hover{
    background-color: #ffffff;
}
#exluir_publicacao{
    background-color: rgb(0, 175, 239);
    margin-bottom: 3px;
    margin-top: 5px;
    border-radius: 5px;
}
#excluir_public{
    background: none;
    border: none;
    color: #fff;
    font-size: 1.1em;
}
#excluir_public:hover{
    color: #201d1d;
}
.fa-trash, .fa-pen-square{
    color: #ffffff;
    font-size: 15px;
    margin-left: 60px;
}
#collapse_options{
    background-color: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; 
    height: 50px;
}
.fa-angle-down{
    margin-top: 10px;
}
.fa-sign-out-alt, #sair{
    color: #999;
    font-size: 16px;
}
.fa-sign-out-alt:hover, #sair:hover{
    color: #000000;
}
#sidebarCollapse{
    margin-right: 40px;
}
.media{
    margin-bottom: 15px;
}
.card-img-top{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/* ---------------------------------------------------
    estilo do conteudo
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
#textarea{
    margin-bottom: 8px;
    margin-top: 8px;
}
#botoes{
    margin-left: 20px;
}
.number_like{
    padding-left: 20px;
}
#btn-comentar{
    margin-bottom: 8px;
}
.card{
    border-radius: 15px;
    box-shadow: 2px 2px 8px 6px #ddd;
    margin-bottom: 30px;
}

/*Menu resposivo*/

@media (max-width: 768px) {
    /*img {
        display: none;
    }*/
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}